/* .Rectangle-19 {
    width: 330px;
    height: 652px;
    border-radius: 6px;
    border: solid 1px #324755;
    background-color: #ffffff;
  } */
  .OrderFilterInput {
    width: 200px; 
    height: 36px;
    border-radius: 5px;
    border: 1px solid rgb(112, 112, 112); 
    padding-left: 5px;
  }
  
  .OderReactTable {
    width: 650px;
    height: 400px;
    border-radius: 6px;
    border: 1px solid rgb(50, 71, 85);
    background-color: rgb(255, 255, 255);
  }
  
  @media screen and (max-width: 1680px) {
    .OrderFilterInput {
      width: 180px; 
    }
    .OderReactTable {
      width: 650px;
    }
  }
  @media screen and (max-width: 1400px) {
    .OrderFilterInput {
      width: 160px; 
    }
    .OderReactTable {
      width: 630px;
    }
  }
  @media screen and (max-width: 1250px) {
    .OrderFilterInput {
      width: 150px; 
    }
    .OderReactTable {
      width: 600px;
    }
  }
  @media screen and (max-width: 1000px) {
    .OrderFilterInput {
      width: 130px; 
    }
    .OderReactTable {
      width: 500px;
    }
  }
  @media only screen and (max-width: 900px) {
    .OrderFilterInput {
      width: 100px; 
    }
    .OderReactTable {
      width: 450px;
    }
  }
  @media only screen and (max-width: 767px) {
    .OrderFilterInput {
      width: 200px; 
    }
  }