.full-form {
  width: 97%;
  font-size: 1rem;
  padding: 1em;
}
.list-group-card {
  padding: 1em 0;
  font-size: 1rem;
  p {
    margin: 0.5em 0em;
    font-size: 0.9rem;
  }
}
.inner-form {
  width: 97%;
  font-size: 1rem;
  padding: 0 1em;
}

.mesure-inline {
  p,
  label {
    padding-top: 0.4em;
    text-align: right;
    vertical-align: baseline;
  }
}

.noti-actice {
  color: white;
  background: rgb(181, 132, 166);
  background: linear-gradient(180deg, rgba(181, 132, 166, 1) 0%, rgba(138, 41, 109, 1) 100%);
  &:hover,
  &:active,
  &:focus {
    color: white;
  }
}
input:enabled,
select,
textarea {
  border: 1px solid #3e5569 !important;
}

.circle-btn {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: #8a296d;
  color: white;
  text-align: center;
  border-color: transparent;
  cursor: pointer;
}

.customDatePickerWidth,
.customDatePickerWidth > div.react-datepicker-wrapper,
.customDatePickerWidth
  > div
  > div.react-datepicker__input-container
  .customDatePickerWidth
  > div
  > div.react-datepicker__input-container
  input {
  width: 100%;
}

.icon-container {
  display: flex;
  align-items: center;
}

.input-icon {
  position: absolute;
  right: 20px;
  display: flex;
  z-index: 10;
}

.purple-highlight {
  background: #8a296d;
  color: white;
  box-shadow: 0px 3px 6px rgba($color: #888888, $alpha: 0.6);
  &:hover{
    cursor: pointer;
    background-color: white;
  }
  &:active,
  &:focus {
    background: #8a296d;
    color: white;
  }
}

.green-highlight {
  background: #42e360;
  color: black;
  box-shadow: 0px 3px 6px rgba($color: #42e360, $alpha: 0.6);
  &:hover{
    cursor: pointer;
  }
  &:active,
  &:focus {
    background: #8a296d;
    color: white;
  }
}

.btn-float-right {
  display: flex !important;
  justify-content: flex-end;
  padding-right: 4%;
}
.btn-margin-lr {
  margin: 0 1em;
  &:last-child {
    margin-right: 2em;
  }
}

// #a05489 ผู้ประกอบการ
// #589f25 พนักงานที่ปฏิบัติงาน
.font-base-line-purple {
  color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
  // padding: 0 10%;
  &::before {
    content: '';
    display: inline-block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #a05489;
    margin-right: 0.5em;
  }
  .ppl-amount {
    padding-left: 10px;
    float: right;
  }
}
.ppl-amount {
  margin-right: 10px;
  float: right;
}
.font-base-line-green {
  color: #282c34;
  // padding: 0 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  &::before {
    content: '';
    display: inline-block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #589f25;
    margin-right: 0.5em;
  }
  .ppl-amount {
    padding-left: 10px;
    float: right;
  }
}
.dropdown-selected {
  width: 35%;
  padding: 5px;
  border-radius: 6px;
  margin-bottom: 20px;
}
.font-base-line-orange {
  color: #282c34;
  // padding: 0 10%;
  display: flex;
  background-color: rgba(219, 69, 41, 0.3);
  justify-content: center;
  align-items: center;
  &::before {
    content: '';
    display: inline-block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: rgba(219, 69, 41, 1);
    margin-right: 0.5em;
  }
  .ppl-amount {
    padding-left: 10px;
    float: right;
  }
}

.appointment-header {
  color: white;
  background: rgb(181, 132, 166);
  background: linear-gradient(180deg, rgba(181, 132, 166, 1) 0%, rgba(138, 41, 109, 1) 100%);
  padding: 1em !important;
  margin-top: -12px;
  p {
    margin: 0;
  }
}

.swal2-success-line-tip,
.swal2-success-line-long {
  background: white !important;
  z-index: 10 !important;
}
.swal2-success-ring {
  background: #a05489;
  border: 0.25em solid #a05489 !important;
}

.side-border {
  border-left: 1px solid #f8eff6;
}

.thumb-post {
  width: 200px !important;
  height: 100px;
  object-fit: cover;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    filter: brightness(0.5);
  }
}
.figure {
  padding: 0 1em;
}

.-pageSizeOptions {
  display: none;
}
