.inactive {
  color: #8a296d !important;
}
.active {
  color: #f8eff6;
}
#ExternalViewSwitcher {
  position: absolute;
  right: 2em;
  padding-top: 0.9em;
}

// .MuiButtonBase-root {
//   display: !important;
// }
.makeStyles-root-129 {
  display: flex;
}
.MuiListItem-root {
  display: inline;
}
