.Datepicker-graph{
    width: 90px;
    height: 34px;
    border-radius:1px;
    border: solid 1px #324755;
    background-color: #ffffff;
    border-right: 0px;
}
.Datepicker-graph-end{
    width: 90px;
    height: 34px;
    border-radius: 1px;
    border: solid 1px #324755;
    background-color: #ffffff;
    border-left: 0px;
}
.textInDatePicker{
    height: 34px;
    padding-right: 5px;
    background-color: #ffffff;
    border: solid 1px #324755;
    border-right: 0px;
    border-left: 0px;
    border-radius: 1px;
    padding-top: 5px;
}